
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Open+Sans:wght@400;700&family=Raleway&family=Roboto:wght@400;500&family=Ruslan+Display&display=swap');


:root {
    --orange-color: #ff523b;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.details-page{
    margin-top: 70px;
    margin-bottom: 100px;
}

.details-page .detail{
    width: 80%;
    margin: auto;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}   
.details-page .detail .right{
    padding: 25px;
}
.details-page .detail .img-1 img{
    margin-bottom: 5px;
}
.details-page .detail .img-1 , .right{
    flex-basis: 45%;
    max-width: 100%;
}

.details-page .detail .right h1{
font-size: 40px;
margin-top: 20px;
}
.details-page .detail .right p{
    font-weight: 500;
font-family: 'Roboto', sans-serif;
color: rgb(80, 78, 77);
font-size: 18px;
}
.details-page .detail .right h4{
margin: 20px 0px;
font-size: 22px;
color: rgb(80, 78, 77);
font-weight: 600;
font-family: 'Roboto', sans-serif;

}
.details-page .detail .right select{
    outline: 0;
    padding: 10px;
    display: block;
    border: 1px solid #ff523b;
}

.details-page .detail .right input{
margin-top: 20px;
width: 50px;
height: 40px;
text-align: center;
margin-right: 10px;
font-size: 19px;
border: 1px solid #ff523b;
outline: 0;
}
.details-page .detail .right a{
    background-color: #ff523b;
    color: white;
    padding: 9px 27px;
    border-radius: 25px;
    transition: .4s;
}
.details-page .detail .right a:hover{
    letter-spacing: 1px;
    background-color: #563434;
}
.details-page .detail .right h3{
    margin-top: 35px;
}
.details-page .detail .right h3 i{
    color: #ff523b;
    margin-left: 8px;
    margin-bottom: 10px;
}

.small-img{
display: flex;
justify-content: space-between;

}
.s-img{
    box-sizing: border-box;
    flex-basis: 24%;
}
.s-img img{
    width: 100%;
}









/* --------------media quarry ----------------- */
@media only screen and (min-width:1675px){
    .details-page .detail .img-1{
        flex-basis: 25%;
    }
}
@media only screen and (max-width:273px){
 
}
@media only screen and (max-width:895px){
    .details-page .detail .right h4{
        font-size: 15px !important; 
        }
    .details-page .detail{
        width: 95%;
    }
    .details-page .detail  .right select{
        padding: 6px;
    }
    .details-page .detail  .right input{
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:580px){
.details-page{
    margin-top: 10px;
}
.details-page .detail .img-1{
    flex-basis: 100% !important;
    margin: 0px 10px;
}
    .details-page .detail .right h1{
        font-size: 20px !important;  
        }
        .details-page .detail .right p{
            font-size: 13px !important;
            }
}
@media only screen and (max-width:1100px){
    .details-page .detail  .right{
        flex-basis: 100% !important;
        text-align: center;
        justify-content: center;
    }
    .details-page .detail  .right select{
        margin: auto;
    }
}
@media only screen and (max-width:1340px){
    .details-page .detail  .right{
        flex-basis: 50%;
    }
    .details-page .detail .img-1{
        flex-basis: 50%;
    }
    

    .details-page .detail .img-1 img{
        width: 100%;
        height: auto;
    }
    .details-page .detail .right h1{
    font-size: 30px;
    /* margin: 0; */
    }
    .details-page .detail .right p{
    font-size: 15px;
    /* margin: 0; */
    }
    .details-page .detail .right h4{
    font-size: 20px;
    }
}