



@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Open+Sans:wght@400;700&family=Raleway&family=Roboto:wght@400;500&family=Ruslan+Display&display=swap');


:root {
    --orange-color: #ff523b;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.login-section{
    text-align: center;
    background: radial-gradient(#fff, #ffd6d6);
padding: 50px 0px;

}
.l-section{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
 .l-left,.form-box {
    flex-basis: 50%;
    max-width: 100%;
}
.l-left img{
    max-width: 100%;
}
.form-box{
    overflow: hidden;
    background-color: #fff;
   width: 300px;
    height: 350px;
    position: relative;
    padding: 20px 0px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.form-btn{
    display: inline-block;
}
.form-btn span{
    font-weight: bold;
padding: 0px 12px;
color: #555;
display: inline-block;
cursor: pointer;
width: 100px;
}
.form-box form{
max-width: 300px;
padding: 0px 20px;
position: absolute;
top: 100px;
transition: transform 1s;

}

.form-box form input{
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    outline: 0;
}
.form-box form a{
    color: black;

}
.form-box form button{
    background-color: #ff523b;
    border-radius: 25px;
    padding: 8px 20px;
}
.form-box .submit-btn{
    color: white;
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
}

 #Indicator {
    transition: transform 1s;
}











@media only screen and (max-width:895px){
    .l-section{
         width: 92.5%;
    }
}
@media only screen and (max-width:235px){
    .form-box{
        width: 180px !important;
    }
}
@media only screen and (max-width:340px){
    .form-box{
        width: 220px;
    }
    .form-box form input{
        padding: 0px 7px;
    }
    .form-box form{
        padding: 0px 10px;    
        }
        .form-btn span{
        padding: 0px 9px;
        width: 85px;
        }
        #Indicator{
            width: 60px;
            margin-top: 7px;
        }
}
@media only screen and (max-width:700px){
    .l-section{
        width: 95%;
        margin: auto;
   }
    .l-left {
        flex-basis: 80%;
        margin: auto;
    }
    .l-right {
        margin: auto ;
    }
}